*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;
}
ul, ol, li {
    list-style: none;
}
html, body {
    height: 100%;
    line-height: 125%;
    font-size: 24px;
    color: #05041b;
    font-family: 'Exo 2';
    background-color: #eff5f6;
    scroll-behavior: smooth;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
.wrapper {
    min-height: 100%;
}
._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px 0 15px;
}
.header {
    background-color: #c0bdbdf6;
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    align-items: center;
    gap: 100px;
}
.header__photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 6px rgb(255, 255, 255);
    margin: 10px;
}
.header__title {
    font-size: 2.25rem;
    line-height: 200%;
    font-weight: 700;
    color: #FFF;
}
.menu__icon {
    display: none;
}
.menu__list {
    font-size: 1.25rem;
    line-height: 130%;
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    transition: 0.25s;
}
.menu__item:not(:last-child) {
    margin: 0 20px 0 0;
}
.menu__item:hover {
    color: rgb(255, 255, 255);
}
@media(max-width: 1164px) {
    .header__container {
        height: 250px;
    }
    .header__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__photo {
        width: 200px;
        height: 200px;
    }
    .menu__icon {
        position: fixed;
        top: 100px;
        right: 63px;
        z-index: 5;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #eff5f6;
        border: 3px solid #a1a1a1f6;
        cursor: pointer;
    }
    .menu__icon span, .menu__icon::before, .menu__icon::after {
        position: absolute;
        left: 20%;
        height: 5%;
        width: 60%;
        transition: all 0.3s ease 0s;
        background-color: #05041b;
    }
    .menu__icon::before, .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 30%;
    }
    .menu__icon::after {
        bottom: 30%;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__body {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(26, 24, 21, 0.8);
        transition: all 0.2s ease 0s;
        height: 100%;
        width: 100%;
        transform: translate(-100%, 0px);
    }
    .menu__body._active {
        transform: translate(0px, 0px);
    }
    .menu__list {
        flex-direction: column;
        position: fixed;
        flex-wrap: nowrap;
        top: 0px;
        right: 0px;
        padding: 0px 30px 0px 20px;
        background-color: rgba(255, 228, 196, 0.5);
        height: 100%;
        overflow: auto;
    }
    .menu__list::before {
        content: "";
        position: fixed;
        width: 186px;
        top: 0px;
        right: 0px;
        height: 250px;
/*         background-color: rgba(255, 228, 196);*/
        background-color: rgba(255, 228, 196, 0.5);
    }
    .menu__item {
        line-height: 200%;
    }
    .menu__item:not(:last-child) {
        margin: 0px;
    }
    .menu__item:first-child {
        margin: 250px 0 0 0;
    }
}
@media(max-width: 1000px) {
    .header__text {
        margin-left: 60px;
    }
    .header__title {
        font-size: 2.0rem;
    }
}
@media(max-width: 850px) {
    .header__text {
        margin-left: 40px;
    }
    .header__title {
        font-size: 1.75rem;
    }
}
@media(max-width: 780px) {
    .header__title {
        max-width: 220px;
        line-height: 150%;
    }
}
@media(max-width: 660px) {
    .header__text {
        margin-left: 30px;
    }
    .header__photo {
        height: 150px;
        width: 150px;
    }
    .header__container {
        height: 200px;
    }
    .menu__icon {
        top: 70px;
    }
    .menu__list::before {
        height: 200px;
    }
    .menu__item:first-child {
        margin: 200px 0 0 0;
    }
}
@media(max-width: 600px) {
    .header__text {
        margin-left: 20px;
    }
    .header__photo {
        height: 125px;
        width: 125px;
        margin: 0px;
    }
    .header__container {
        height: 160px;
    }
    .menu__icon {
        top: 50px;
        right: 30px;
    }
    .menu__list::before {
        height: 160px;
        width: 153px;
    }
    .menu__list {
        padding: 0 10px 0 7px;
    }
    .header__title {
        font-size: 1.75rem;
        line-height: 125%;
    }
    .menu__item:first-child {
        margin: 160px 0 0 0;
    }
}
@media(max-width: 500px) {
    .header__container {
        flex-direction: column;
        height: 270px;
        align-items: center;
    }
    .header__photo {
        margin: 10px 0 0 0;
    }
    .header__title {
        text-align: center;
    }
    .header__text {
        margin: 0px;
        justify-content: center;
    }
    .menu__icon {
        top: 105px;
        right: 20px;
    }
    .menu__list::before {
        height: 270px;
        width: 153px;
    }
    .menu__item:first-child {
        margin: 270px 0 0 0;
    }
}
.about__content {
    margin: 0 0 15px 0;
}
.about__item::before {
    margin: 0 0 0 25px;
    content: '—    ';
}
.about__item {
    margin: 0 0 5px 0;
}
.contacts {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.main__title {
    font-size: 1.75rem;
    line-height: 200%;
    font-weight: 500;
}
.contacts__list {
    margin: 0 0 0 25px;
    display: flex;
    flex-wrap: wrap;
}
.contacts__item {
    display: flex;
    align-items: center;
}
.contacts__list li:not(:last-child) {
    margin: 0 50px 0 0;
}
.contacts__icon {
    height: 30px;
    width: 30px;
    transition: 0.25s;
}
.contacts__item:hover .contacts__icon {
    filter: invert(32%) sepia(35%) saturate(3661%) hue-rotate(230deg) brightness(88%) contrast(93%);
}
.contacts__text {
    margin: 0 0 0 5px;
    font-size: 1rem;
    line-height: 150%;
}
.contacts__text {
    transition: 0.25s;
}
.contacts__item:hover .contacts__text {
    color: #584FDA;
}
@media(max-width: 730px) {
    .contacts__list {
        flex-direction: column;
    }
    .contacts__list li:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.skills__lists {
    display: flex;
    flex-wrap: wrap;
}
.skills__list:not(:last-child) {
    margin: 0 125px 0 0;
}
.skills__subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.skills__item::before {
    content: "•";
    margin: 0 10px 0 25px;
}
.skills__item {
    margin: 0 0 8px;
}
@media(max-width: 813px) {
    .skills__list:not(:last-child) {
        margin: 0 50px 0 0;
    }
}
@media(max-width: 736px) {
    .skills__lists {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 0 0 30px;
    }
    .skills__list:not(:first-child) {
        margin: 10px 0 0 0;
    }
}
@media(max-width: 441px) {
    .skills__lists {
        margin: 0 0 0 10px;
    }
    .skills__item::before {
        margin: 0 10px 0 10px;
    }
}
.projects__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 50px;
}
.projects__item {
    transition: 1s;
    max-width: 320px;
}
.projects__item:hover {
    transform: scale(1.05);
}
.projects__subtitle {
    text-align: center;
    line-height: 150%;
    font-weight: 700;
}
.projects__description {
    text-align: center;
    font-size: 0.75rem;
    line-height: 145%;
}
@media(max-width: 1120px) {
    .projects__blocks {
        margin: 0;
        justify-content: space-evenly;
    }
    .projects__item {
        margin: 0 50px 0 0;
    }
}
@media(max-width: 770px) {
    .projects__blocks {
        flex-direction: column;
        align-items: center;
    }
    .projects__item {
        margin: 0;
    }
}
@media(max-width: 414px) {
    .projects__code > .main__title {
        line-height: 125%;
        margin: 20px 0 0 0;
    }
}
@media(max-width: 360px) {
    .projects__item a img{
        width: 280px;
        height: 137px;
    }
}
.education__item {
    line-height: 150%;
    display: flex;
}
.education__year {
    margin: 0 0 0 50px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
@media(max-width: 1044px) {
    .education__year {
        margin: 0 0 0 10px;
        width: 140px;
    }
}
@media(max-width: 964px) {
    .education__year {
        margin: 0;
        min-width: 140px;
        margin: auto 0;
    }
    .education__item {
        line-height: 125%;
    }
    .education__item:not(:last-child) {
        margin: 0 0 15px 0;
    }
}
@media(max-width: 400px) {
    .education__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 15px 10px 15px;
}
.footer__year {
    font-weight: 700;
}