*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;
}
ul, ol, li {
    list-style: none;
}
html, body {
    height: 100%;
    line-height: 125%;
    font-size: 24px;
    color: #05041b;
    font-family: 'Exo 2';
    background-color: #eff5f6;
    scroll-behavior: smooth;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
.wrapper {
    min-height: 100%;
}
._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px 0 15px;
}
.header {
    background-color: #c0bdbdf6;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 100px;
}
.header__photo {
    width: calc(125px + (200 - 125)*(100vw - 320px)/(1280 - 320));
    height: calc(125px + (200 - 125)*(100vw - 320px)/(1280 - 320));
    border-radius: 50%;
    border: solid 6px #ffffff;
    margin: 10px;
}
.header__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}
.header__title {
    font-size: 54px;
    line-height: 150%;
    font-weight: 700;
    color: #ffffff;
}
.menu__icon {
    display: none;
}
.menu__list {
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: 0.03rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.menu__item > * {
    transition: 0.25s;
}
.menu__item > *:hover {
    color: #f8f6f6;
}
@media(max-width: 1080px) {
    .header__text {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #eff5f6;
        border: 3px solid #a1a1a1f6;
        cursor: pointer;
        position: fixed;
        top: 10%;
        right: 20px;
    }
    .menu__icon span, .menu__icon::before, .menu__icon::after {
        position: absolute;
        left: 20%;
        height: 5%;
        width: 60%;
        transition: all 0.3s ease 0s;
        background-color: #05041b;
    }
    .menu__icon::before, .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 30%;
    }
    .menu__icon::after {
        bottom: 30%;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__body {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #1a181566;
        transition: all 0.2s ease 0s;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
    }
    .menu__body._active {
        visibility: visible;
        opacity: 1;
    }
    .menu__list {
        flex-direction: column;
        position: fixed;
        flex-wrap: nowrap;
        top: 0px;
        right: -10%;
        padding: 0px 20px;
        background-color: rgba(255, 228, 196, 0.5);
        height: 100%;
        overflow: auto;
        justify-content: center;
        transition: 0.25s;
    }
    .menu__list._active {
        right: 0%;
    }
}
@media(max-width: 1023px) {
    .header__container {
        gap: calc(60px + (100 - 60)*(100vw - 768px)/(1023 - 768));
    }
    html, body {
        font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1023 - 320));
    }
}
@media(max-width: 767px) {
    .header__container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .header__photo {
        margin: 10px 0 0;
    }
    .header__text {
        width: auto;
        gap: 0;
    }
    .header__title {
        font-size: calc(30px + (54 - 30)*(100vw - 320px)/(767 - 320));
    }
    .menu__icon {
        position: fixed;
    }
}
.about__content {
    margin: 0 0 15px 0;
}
.about__item::before {
    margin: 0 0 0 25px;
    content: '—    ';
}
.about__item {
    margin: 0 0 5px 0;
}
@media (max-width: 767px) {
    .about__content {
        margin: 0 0 calc(10px + (15 - 10)*(100vw - 320px)/(767 - 320)) 0;
    }
}
.contacts {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.main__title {
    font-size: 1.75rem;
    line-height: 200%;
    font-weight: 500;
}
.contacts__list {
    margin: 0 0 0 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
}
.contacts__item {
    display: flex;
    align-items: center;
}
.contacts__icon {
    height: 30px;
    width: 30px;
    transition: 0.25s;
}
.contacts__item:hover .contacts__icon {
    filter: invert(32%) sepia(35%) saturate(3661%) hue-rotate(230deg) brightness(88%) contrast(93%);
}
.contacts__text {
    margin: 0 0 0 5px;
    font-size: 1rem;
    line-height: 150%;
}
.contacts__text {
    transition: 0.25s;
}
.contacts__item:hover .contacts__text {
    color: #584FDA;
}
@media (max-width: 1023px) {
    .contacts__list {
        gap: calc(10px + (20 - 10)*(100vw - 320px)/(1023 - 320)) 25px;
    }
}
@media (max-width: 767px) {
    .contacts__list {
        flex-direction: column;
    }
}
.skills__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 80px;
}
.skills__subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.skills__item::before {
    content: "•";
    margin: 0 10px 0 25px;
}
.skills__item {
    margin: 0 0 8px;
}
@media(max-width: 767px) {
    .skills__lists {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 0 0 calc(10px + (30 - 10)*(100vw - 320px)/(767 - 320));
    }
    .skills__list:not(:first-child) {
        margin: 10px 0 0 0;
    }
}
.projects__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 50px;
}
.projects__item {
    transition: .25s;
    width: 320px;
}
.projects__item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects__item img {
    width: 100%;
}
.projects__item:hover {
    transform: scale(1.05);
}
.projects__subtitle {
    text-align: center;
    line-height: 150%;
    font-weight: 700;
}
.projects__description {
    text-align: center;
    font-size: 0.75rem;
    line-height: 145%;
}
@media(max-width: 767px) {
    .projects__blocks {
        flex-direction: column;
        align-items: center;
    }
    .projects__item {
        width: calc(290px + (320 - 290)*(100vw - 320px)/(767 - 320));
    }
}
.education__item {
    line-height: 150%;
    display: flex;
}
.education__year {
    min-width: 180px;
    text-align: center;
    font-weight: 700;
}
.education__link {
    transition: all 0.25s;
}
.education__link:hover {
    color: #584FDA;
}
@media(max-width: 425px) {
    .education__item {
        flex-direction: column;
        text-align: center;
    }
    .education__item:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px 10px 15px;
}
.footer__year {
    font-weight: 700;
}